[submodule "alumni-authentication"]
	path = alumni-authentication
	url = git@github.com:qmainuddin/alumni-authentication.git
[submodule "ea-nov-2023-project-1"]
	path = ea-nov-2023-project-1
	url = git@github.com:qmainuddin/ea-nov-2023-project-1.git
[submodule "alumni-api-gateway"]
	path = alumni-api-gateway
	url = git@github.com:qmainuddin/alumni-api-gateway.git
